createdAt: "2019-10-24T12:48:11.172Z"
updatedAt: "2020-01-14T16:54:17.415Z"
type: "MARKDOWN_NOTE"
folder: "7ec74362f7ac3ae392fb"
title: "Spanish"
tags: [
  "spanish"
]
content: '''
  # Spanish
  
  ## Phrases
  - A mal tiempo buena cara - Look on the bright side
  - A quien madruga, Dios le ayuda - God helps those who get up early
  - Visteme despacio que tengo prisa - Dress me slowly, im in a hurry
  - Manos a la obra - I'm working on it, starting now!
  - Como pez en el agua - Like a fish in water
  - Está más perdido que - Is more lost than ([Está más perdido que \\| finaldechiste.com](https:\\\\finaldechiste.com\\60\\esta-mas-perdido-que\\))
  - Estas mas perdido que un hijoputa en el dia del padre - You are more lost than a son of a bitch on fathers day
  - Ojos que no ven, corazón que no siente. [Popular Spanish Proverbs](https://mydailyspanish.com/popular-spanish-proverbs/)
  - Tienes menos luces que un barco espía
  - El que no apoya, no folla
  - El que no recorre, no se corre
  - tengo un hambre que da calambre
  - de lo que se come se cría
  - Dorar la píldora
  
  ## Responses
  - What is it about? - De que va.
  - No pasa nada - Nothings happening
  - Pues - So\\well...
  - Joder - Fuck!
  - Esta mas claro que el agua - It is clearer than water
  - Blanco y en botella - It's obvious 
  
  
  
  
  ## Fillers
  
  ver… – “Let’s see…”
  Pues… – “Well…”
  Bueno… – “Well then…”
  ¿Sabes? – “You know?”
  Por supuesto – “Of course”
  *Por otra parte…” – “On another note…”
  Pero… – “But…”
  De verdad? – “Really?”
  Dios mio – “Oh my god”
  Entonces… – “So…”
  Asi que… – “So… About that…”
  
  
  ## Greetings
  - Que pasa tio\\a - What's happening uncle\\auntie
  
  
  ## Jokes ([Frases para quedarse con la gente - Humor en Taringa!](https:\\\\www.taringa.net\\+humor\\frases-para-quedarse-con-la-gente_12o1gw))
  
  > ¿Has visto al abogado?
  > al === a el
  > a ella
      
  - Ayer te llamo el abogado - yesterday you received a call from the lawyer
  - Ayer pregunto por ti el abogado - yesterday the lawyer asked about you
  > ¿Qué abogado?
  > ¡El que tengo aquí colgado! (cojiendote las pelotas)
  
  > ¿Has visto el accidente?
  > ¿Qué accidente?
  > ¡El de mi polla en tu frente!
  
  > Como te gusta...
  > ¿El que?
  > ¡Que te entre justa!
  
  > Puff mañana me operan de dierna
  > De dierna?
  > Si,tengo la polla mas grande que la pierna
  
  > Sabes quién se ha dejado bigote?
  > Quién?
  > Mi cipote
  
  > Entiendes de electricidad? (Do you understand about electricity?)
  > Pues mira a ver si esto es corriente..... (Please have a look if this is current...) Corriente in spanish means current and also common. Maybe in english it also has similar meaning.
  
  > Sabes dónde está Alberto?
  > Que alberto?
  > El que te dejo el culo abierto
  
  > para adelante como los de Alicante (Get through it like people in alicante)
  
  > A lo Juan Palomo, yo me lo guiso y yo me lo como (Like Juan Palomo, I cook it and i eat it) (I can do it by myself)
  
  > Verse el plumero (See the duster) (You're seeing someones hidden intentions)
  
  > A buenas horas mangas verdes (Good morning green sleeves) (When someone arrives late, or contributes late)
  
  > Ponerse las botas (When you fill up on food)
  
  > Irse por los cerros de Úbeda (Going down a different path)
  
  > Quien se fue a Sevilla perdió su silla (Who went to Seville lost his chair) (When someone leaves a position, and someone fills it)
'''
linesHighlighted: []
isStarred: false
isTrashed: false
