createdAt: "2020-02-04T18:03:01.089Z"
updatedAt: "2020-04-01T14:34:03.886Z"
type: "SNIPPET_NOTE"
folder: "7ec74362f7ac3ae392fb"
title: ""
tags: []
description: ""
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "JavaScript"
    content: '''
      fetch('http://localhost:9000/set-override', {
          method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            method: 'get',
           	"uri" : "/assets/unmanaged/:id/detail",
            "code" : 200,
            body: {
              ...$temp2,
              valuationIds: $temp1.map(i => i.id)
            }
          })
      })
    '''
  }
]
isStarred: false
isTrashed: false
