createdAt: "2019-12-02T10:13:53.799Z"
updatedAt: "2020-04-01T14:34:00.503Z"
type: "MARKDOWN_NOTE"
folder: "7ec74362f7ac3ae392fb"
title: "Funds Breakdown / Portfolio data check"
tags: []
content: '''
  - Funds Breakdown \\ Portfolio data check
  - ~~Why is Axis wrong~~
  - ~~Documents should click and download all~~
  - Portfolio Page mobile colour
  - 
'''
linesHighlighted: []
isStarred: false
isTrashed: false
