createdAt: "2020-04-01T08:35:54.461Z"
updatedAt: "2020-04-04T09:26:46.033Z"
type: "MARKDOWN_NOTE"
folder: "a1c587323aa4baa271ef"
title: "GYM"
tags: []
content: '''
  # GYM
  
  ## Mistakes
  
  - Not eating enough
    - Fewer calories, increase metobolism, kills muscle
  - Eating too much
    - Stores fat
  - Not eating frequently
    - Think about energy by hour, not day
  - Nutritional Timing
  - Too few carbs
    - Carbs required for performance, reduce, but still have
  - Too few fats
    - Useds for hormones, etc.
  - Not enough water
    - Don't rely on thirst
  
  ## Macros
  - Carbs - 30-50% (within 0-6 hours of workout)
  - Protein - 30-40% (or around 1g\\lb)
  - Fats - 20-30% 
  
  
  ### Protein
  Proteins are made up of amino acids, and are used to build nearly every tissue in the body, including muscle. There are 20 main amino acids, 10 of which are essential amino acids.
  
  1 gram of protien per 1lb of weight.
  
  ### Carbohydrates
  - Used to fuel exercise
  - Replenish glycogen stores (providng body with glucose)
    - Maintaining good stores stop muscle breakdown, increases performance.
  
  #### Sources:
  - Whole grains
  - Oats
  - Fruits
  - Fibrous vegetables
  - Starchy vegetables
  - Whole grain pastas or breads
  - Sprouted breads
  
  ### Fat
  Fatty acids for hormonal prodction, inc testosterone and thyroid. Protein synthesis, etc.
  
  Get from polyunsaturated and monounsaturated. Can come from saturated but limit to 1\\3 of total fat.
  
  20-30% (most from non-animal sources)
  
  #### Sources:
  - Fish oil
  - Flax seeds and oil
  - Olive oil
  - Fish
  - Nuts
  - Coconut oil
  - Avocados
  - It can be hard to consume all of your fats from these sources. Eggs and lean meats are OK as a source of fat, but make sure that these make up the smaller, rather than the larger share of your fat intake.
  
  
  ## Amico Acids
  20 main amico acids, 10 are essential. Essential means they must be consume by a diet. Lacking just 1 can be bad. Get from a variety of sources, including meat.
  
  
  ## Hormones
  - Testosterone
    - Consuming sufficient fats
    - Getting enough rest
    - Using certain nutritional supplements.
  - Insulin
    - Protein synthesis
    - Low\\moderate constant level. 
    - High level can lead to fat storage
  - Cortisol
    - Used for catabolism. Breaks down fat and muscle.
    - High levels by stress, physical and mental
  - Glucagon
    - Used for catabolism. liver glycogen breakdown
    - Protein consumption can increase
    - Maining glycogen stores minimizes protein coversion to glucose
  
  
  ## Nutritional Timing
  
  High carb workout days
  Low carb rest days
  
  Eat every 2-3 hours
  
  - Carbs - After exercise (up to 6 hours)
  - Fats - Well before exercise (or several hours after)
  - Protein - All the fucking time (but increased post exercise, particularly certain amino acids)
  
  ### Carbs
  When consumed are either stored as glycogen or fat, or burned. But mainly stored. Preference is glycogen. 
  
  Post workout, muscle sensitivity to carbs is increased. Other times muscle cells are less sensitive to carbs, and fats cells are more sensitive.
  
  Fast absorbing carbs mixed with protein 15-30 mins before a workout can boost performance and reduce muscle breakdown.
  
  Rest of the day, each **starchy vegatables** (sweet pots, spinach) and fruits rather starchy carbs (bread, pasta, rice, etc). Don't eliminate though, just less.
  
  ### Protein
  Throughout the day, but increase after workout. Glutamine, and branched chain amino acids (leucine, iso-leucine, and valine) are particularly important.
  
  Commonly burned during exercise, so are depleted. Leucine taken after workout can boost protein synthesis.
  
  ### Fats
  Avoid fats close to workout, both before and after. Avoid 1 hour before exercise and 2 hours after.
  
  ## POST-WORKOUT NUTRITION
  Most important meal. Timing is important. Within 30 minutes! Both carbs and protein, not fats though.
  
  ### Insulin sensitivity
  After workout, muscle sensitivity to insulin is heightened. If you leave 30-45 minutes, muscle can become resistant.
  
  If nutrition is taken, sensitivity can be maintained for several hours. This goes hand in hand with glucose uptake and glycogen re-synthesis. Although, high insulin can trigger fat storage, moderate levels to not impede fat oxidation due to an increased metabolic rate.
  
  ### Protein Synthesis
  Increased by post workout nutrition. Even better than a meal 1-2 hours after. 
  
  Optimal for bulking and for maintaining while cutting.
  
  ### Glucose Uptake and Glycogen synthesis
  Hand in hand with insulin sensitivity. Can be increased up to 6 times compared to a meal eaten 1-2 after. Efficient re-systensizing glycogen will effect recovery, as well as the next day performance.
  
  ## POST-WORKOUT NUTRITION COMPONENTS
  Fast absorbing & digesting nutrients are ideal. Liquid meals are ideal. Fast absorbing carbs are also ideal
  
  - Maltodextrin, faster than sucrose and dextrose
  - Whey is ideal for protein
  - 1-2 grams of extra glutamine and BCAAs
  - 30g of Protein (0.25g\\lb)
  - 60-80 grabs of carbs (0.5-0.57g\\lb)
  
  ### Before bed nutrition
  Good for bulking, great for fat loss. 
  - Mostly protein
  - Small amounts of carbs
  - Teeny amount of fat
  - Protein should be mixed fast and slow absorbing.
  - Whey and Casein, and skim milk
    - Lower in cals than post-workout shake
  
  
  ## EAT MORE BURN MORE
  Metabolic flux. The body becomes more inefficient, and wastes more calories as heat with all of its metabolic processes. The thermic effect of food is also boosted. Eating lost of low cal fruits and veg can boost it. Eating more, burns more, burns more fat.
  
  ### Calories aren't equal
  Thermic affects changes depending on the food
  
  - Proteins have high thermic effect (more effort to burn - about 30%)
    - Meaning 1000 cals of protein costs 300 cals to burn.
  
  ### FRUIT AND VEG
  Low-calorie fruits and vegetables such as citrus, watermelon, berries, carrots, etc. also have a very high thermogenic effect.
  
  Some take more cals to burn than to gain, "negative-calorie" effect. Combine that with the concept of increasing metabolic flux (eat more to burn more), and you have an outstanding food to boost fat loss.
  
  
  ## FAT BURNS IN A CARBOHYDRATE FLAME
  Carbohydrates are the fuel for fat burning performance. Having full glycogen stores also sends triggers that directly & indirectly result in greater fat oxidation. By eating more, and exercising more, you can burn more total fat.
  
  So before you say to yourself, "My maintenance levels are 2853 calories per day," ask yourself how you can make your body burn more overall calories. You still need to eat less than you take in, and you still need to make regular adjustments. But you can increase your metabolic flux, or total calories taken in & burned in order to increase fat loss.
  
  - Eat frequently
  - Eat protein
  - Eat Fruit and Veg
  - Drink Water
  - Increase calories and exercise
  
  
  ## RECAP
  - Eating every 2-3 hours
  - All meals should have protein and carbs
  - Meals close to workout should contains small good fats
  - Snack on low calorie \\ high fibre fruits and veg
  
  - Eat sufficient protein. Again 1 g\\lb is a good rule to go by.
  - Drink enough water. Even mild dehydration can significantly reduce metabolism & performance.
  - Eat lots of fruits & vegetable.
  - Remember to get post workout nutrition as soon as possible.
  - Heavier, starchy carbs are best following a workout.
  - Metabolic rate is highly modifiable. Eating more and burning more overall calories (through diet and exercise) is preferable to eating less and burning less.
  
  ## CHEAT MEALS
  Once a week. Focus on food types, not excess calories. Stay within the calories
  
  ## FRUITS and VEG to not count
  
  Fruit
  
  - Grapefruits
  - Watermelon
  - Strawberries
  - Blackberries
  - Currants
  - Blueberries
  - Rhubarb
  - Oranges
  - Cantaloupe
  
  All fibrous, low-calorie vegetables
  
  - Carrots
  - Celery
  - Lettuce
  - Other leafy greens
  - Cucumbers
  - Turnips
  - Tomatoes
  - Radishes
  - Broccoli
  - Cauliflower
  
  Other Fruits and Vegetables:
  
  These lists are just to give you a general idea. Other fruits & vegetables which are low-calorie density can also be eaten frequently. Choices which contain higher amounts of calories such as bananas or avocados need to be counted as part of the daily calories
  
  ## DIET TEMPLATE
  Divide protein intake up roughly between meals
  66% or 75% of carbs should be eaten PWO and up to 406 hours after workout
  
  ### Breakfast - 15% of calorie intake
  - 1\\3 starchy carbs (oatmeal, whole wheat bread, etc)
  - 2\\3 of protein (eggs, milk, lean meat)
  - Small portion (1 spoonful) of fat (fish oil, olive oil, nuts, etc)
  - Fruit or veg from list
  - Water
  
  ### All other pre-workout meals and after 4-6 hours after workout
  - 1\\3 starchy VEG and\\or fruit (greens, sweet potato, salad)
  - 2\\3 of lean protein
  - Small portion of good fats
  - Fruit or veg from list
  - Water
  
  ### Pre-workout nutrition (optional, but ideal)
  - 30-40g of fast absorbing carbs (sucrose, dextrose, maltodextrin)
  - 5-15g of whey or BCAA
  
  ### Post-wokrout (ASAP)
  - 20-40g of protein
  - 40-80g of fast carbs (sucrose, dextrose, maltodextrin)
  - 1-2g of BCAA
  - 1-2g of glutamine
  
  ### 1-2 hours after workout
  - 1\\2 of starchy carbs (whole grain, pasta, whole grain bread, oats, baked potato, etc)
  - 1\\2 of lean protein (egg whiles, tuna, other fish, lean red meat, skim milk)
  - Minial fat
  - Fruit or veg from list
  - Water
  
  #### 3-4 hours after workout
  - 1\\2 of starchy carbs (whole grain, pasta, whole grain bread, oats, baked potato, etc)
  - 1\\2 of lean protein (egg whiles, tuna, other fish, lean red meat, skim milk)
  - Small serving of extra good fat
  - Fruit or veg from list
  - Water
  
  #### 4-6 hours after workout
  - 1\\3 of starchy carbs (whole grain, pasta, whole grain bread, oats, baked potato, etc)
  - 2\\3 of lean protein (egg whiles, tuna, other fish, lean red meat, skim milk)
  - Small serving of extra good fat
  
  ### Pre-bed meal
  - 1 cup of skim milk
  - 1\\2 scoop of whey
  - 1\\2 scop of casein OR 2 cups skim milk + 1\\2 scoop whey
  
  ## SUPPLEMENTS
  
  - Fish oil - will support a healthy metabolism. It also provides a host of other health benefits. Take at least 3 grams of fish oil (30% omega-3) daily.
  - Multivitamins - Get a good quality multivitamin, or a greens powder supplement. This will help to provide many of the vitamins & minerals your body needs.
  - Creatine - This can help to prevent muscle loss while cutting, and boost performance & recovery. It will cause some water retention in the muscles, so discontinue using it 1-2 weeks before you plan on going to the beach.
  - Whey - Whey is a must for post workout shakes. It is also beneficial when taken occasionally throughout the day, as it can help boost protein synthesis due to its fast absorption.
  
  ## CONDIMENTS \\ SPICES
  
  Olive Oil
  Canola Oil
  Salt
  Pepper
  Fresh Garlic
  Low-sodium Soy Sauce
  Balsamic Vinegar
  Wine Vinegar
  Maple Syrup (low-fructose corn syrup)
  Marinara sauce (or some other form of tomato sauce)
  Dijon Mustard
  Hot Red Pepper Sauce
  Pam Spray-On Canola Oil
  Nutmeg
  Cinnamon
  Garlic Cloves
  Red and Green Onions
  Fresh Parsley
  Basil
  Rosemary
  Thyme
  Chives
  Oregano
  Chervil
'''
linesHighlighted: [
  12
  2
  187
  174
  162
  84
  112
  147
  128
  66
  62
  44
  32
  189
  43
  24
  18
  274
  220
]
isStarred: false
isTrashed: false
